# an HA cluster with 3 control-plane nodes and 3 workers
# adds a taint when adding an additional Node to the control plane.
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
  # Aplies taint ro new nodes that join the control plane 
  - | 
  kind: JoinConfiguration
  nodeRegistration:
    kubeletExtraArgs:
      register-with-taints: "my-taint=presence:NoSchedule"
  # add a mount from /path/to/my/files on the host to /files on the node  
  # extraMounts:
  # - hostPath: /path/to/my/files
  #   containerPath: /files
  # lables:
  #   tier: backend
    
- role: worker
  # add a mount from /path/to/my/files on the host to /files on the node  
  # extraMounts:
  # - hostPath: /path/to/my/files
  #   containerPath: /files
  # lables:
  #   tier: frontend

