# an HA cluster with 3 control-plane nodes and 3 workers
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: ha-cluster
nodes:
- role: control-plane
  kubeadmConfigPatches:
  # adds a taint when adding an additional Node to the control plane.
  - | 
    kind: JoinConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        register-with-taints: "my-taint=presence:NoSchedule"
# add a mount from /path/to/my/files on the host to /files on the node  
  # extraMounts:
  # - hostPath: /path/to/my/files
  #   containerPath: /files

- role: worker
# add a mount from /path/to/my/files on the host to /files on the node  
  # extraMounts:
  # - hostPath: /path/to/my/files
  #   containerPath: /files